h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 30px;
}

nav {
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.links a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 20px;

}

.hero {

    height: 600px;
    background-image: url('../img/Hero_home.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carrossel {
    position: relative;
    min-height: 250px;
    min-width: 300px;
    margin: auto;
    overflow: auto;
    background-color: #124A43;
    padding: 20px;
    border-radius: 30px;
}

.carrossel-items .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 278px;
    height: 278px;
    /* Certifique-se de que cada item ocupe todo o contêiner */
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border: solid 2px green;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;

}

.carrossel-items {
    display: flex;

}

.carrossel-imagem {
    background-color: white;
    /* A aura branca */
    display: inline-block;
    padding: 10px;
}

.carrossel-imagem img {
    display: block;
    width: 100px;
    /* Manter altura e largura igual */
    height: 100px;
    border-radius: 50%;
    /* A magia que cria o círculo */
}

.anterior,
.proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.anterior {
    left: 10px;
}

.proximo {
    right: 10px;
}

.btn {
    border-radius: 5px;
    background-color: burlywood;
    color: maroon;
    font-size: 18px;

}

.btn:hover {
    background-color: #02A659;
}

.footer {
    color: green;
    background-color: lightgreen;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 40px;
}



.divisoria {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.conteudo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 2em;
}

.image {
    flex: 1;
    max-width: 50%;
    object-fit: cover;
}

.text-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 15px;
    margin-left: 80px;
}

.text-box {
    background: #f0f0f0;
    border-radius: 15px;
    margin: 15px 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

/* testes de grid */

.contraIndicacoes-grid {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr 15fr;
    row-gap: 20px;
    align-items: center;

}

.contra-imagem {
    grid-column: span 1;

}

.contra-texto {
    grid-column: span 1;
    background: #f0f0f0;
    border-radius: 15px;
    padding: 10px;
    font-size: 30px
    
}
.instrucao-grid {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    row-gap: 10px;

}
.instrucao-texto {
    grid-column: span 1;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 15px;
    padding: 10px;
    font-size: 30px
    
}

@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        padding-left: 0;
    }

    .image {
        max-width: 100%;
        height: auto;
    }

    .text-boxes {
        padding: 0;
    }

    .text-box {
        margin: 15px 0;
    }

    .contraIndicacoes-grid {
        grid-template-columns: repeat(2, 1fr);
        /* Muda para 2 colunas em telas menores */
    }

}


/* CSS PRODUTOS */ 

.container-nome{
display: flex;
padding-left: 1%;
max-width: 710px; /* Define o máximo de largura para o container */
}

.child-text{
    padding: 2%;
    margin-top: 3%;
}

/* como usar */

.container-img{
    display: flex;
}

.container-img h2{
    position: absolute;
    float: left;
    margin-top: 0%;
    padding-left: 1%;
}

.child-img{
    margin-top: 3%;
    padding: 1%;
    height: 100%;
}


/* contraindicacaoes */ 

.contraIndicacoes-grid{
    padding: 1%;
}

.contraFundo{
    background-color: #124A43;
    width: 100%;
    height: 100%;
}

.contraFundo h1{
    color: #fff;
    padding-left: 1%;
    padding-top: 1%;
}

.feedback-clientes{
    background-color: #124A43;
}

.feedback-clientes h1{
    color: #fff;
    padding-left: 1%;
    padding-top: 1%;
}