:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --background-color: rgb(23, 141, 98);
    --background-color: #fff;
    --royal-green-light: #00FA9A;
    --royal-green-dark: #2E8B57;


}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    grid-template-columns: 1fr;
}


/*Media queries*/
@media (max-width: 768px) {
    

    .menu {
        display: block;
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        transition: 3s;
        overflow-y: hidden;

    }

    .menu a {
        padding: 0.5rem 0;
        margin-inline: rem;
        border-bottom:  solid rgba (0, 0, 0, 0.16);
    }


    .label-menu {
        display: flex;
        align-items: center;  
        color: #fff;
        padding-block: rem;
        cursor: pointer;
    }




    .hamburger {
        border-top: 0.125rem solid;
        width: 1.25rem;
        margin: 1rem;
    }


    .hamburger::before,
    .hamburger::after {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked~.menu {
        display: block;
        height: calc(55vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .checkbox:checked~.label-menu .hamburger {
        border-top-color: transparent;
    }

    .checkbox:checked~.label-menu .hamburger::before {
        transform: rotate(135deg);
    }

    .checkbox:checked~.label-menu .hamburger::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
}

    .form {
        display: grid;  
         
    }

    .box {
        display: grid;
        margin: 1rem;
    }

  .email {
    display: grid;

  }
    

  .nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(23, 141, 98);
    justify-content: space-between;
    height: 2rem;


}
.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.menu a {
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    padding-bottom: 0.5rem;
    font-size: x-small;
}

.menu a:hover {
    color: rgb(255, 175, 2);

}


/*menu nav*/

.head a {

    color: #fff;
    text-decoration: none;
    padding-top: 0.5rem;

}



.label-menu, .checkbox {
    display: none;

}


.header p {
    padding-top: 3rem;
    font-size: 30px;
    text-align: center;

}


.form {
   
    width: 500px;
    align-items: center;
    background-color: rgb(77, 195, 151);
    border-radius: 15px;
    align-items: center;

}

.box {
   
    background-color: rgb(77, 195, 151);
    width: 500px;
    border-radius: 15px;
    align-items: center;
}



.header {
    background: linear-gradient(90deg, rgba(131, 58, 180, 0.699) 0%, rgba(253, 29, 29, 0.658) 50%, rgba(252, 176, 69, 0.753) 100%);
    width: 100%;
    padding: 50px;
   

}



h1,
p {
    color: rgb(15, 79, 55);
    justify-content: center;
    margin: 20px;
    text-align: center;


}

.sol p {
    color: rgb(15, 79, 55);
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

h2 {
    color: rgb(219, 151, 25);
    justify-content: center;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}

h3 {

    text-align: center;
}



.container2 {
    display: grid;
    margin: 1rem;
    padding-left: 1rem;
}

#menu-topo {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: rgb(15, 79, 55);
    bottom: 10px;
}


.button-1,
.button-3,
.button-4 {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 05px;
    color: rgb(15, 79, 55);
    font-weight: bolder;
}

.button-2 {
    background-color: rgb(29, 150, 106);
    margin: 5px;
    border-radius: 5px;
    color: #ffffff;
}


.legend {
    font-weight: bolder;
    color: rgb(15, 79, 55);

}

.news h3 {
    color: rgb(15, 79, 55);
    margin: 20px;
}

.news p {
    color: rgb(219, 113, 51);
    margin: 20px;
}


    footer {
        justify-content: space-between;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 2rem;
        padding-top: 10px;
        padding-bottom: 10px;
    
       
    }

 a {
    color: #fff;
    text-decoration: none;
    padding-top: 0.5rem;
    

    
}
.topo a:hover {
    color: rgb(255, 175, 2);
   
}

